{% extends 'default_frame.twig' %}
{% block main %}
<div id="">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="title">パスワードの再発行</h2>
			<p>ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。</p>
		</div>
	</div>

	<div id="contents" class="main_only">
		<div id="">
			<div id="top_wrap" class="">
				<div id="top_box" class="row">
					<div id="top_box__body" class="col-md-10 col-md-offset-1">
						<p>※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。</p>
						<form name="form1" id="form1" method="post" action="{{ url('forgot') }}">
							{{ form_widget(form._token) }}
							<div id="top_box__body_inner" class="dl_table">
								<dl id="top_box__login_email">
									<dt style="vertical-align: middle;">{{ form_label(form.login_email) }}</dt>
									<dd>
										<div class="form-group">
											{{ form_widget(form.login_email) }}
											{{ form_errors(form.login_email) }}
										</div>
									</dd>
								</dl>
							</div>
							{% for f in form %}
								{% if f.vars.name matches '[^plg*]' %}
									<div class="extra-form dl_table">
										{{ form_row(f) }}
									</div>
								{% endif %}
							{% endfor %}
							<div id="top_box__footer" class="row no-padding">
								<div id="top_box__next_button" class="btn_group col-sm-offset-4 col-sm-4">
									<p><button type="submit" class="btn btn-primary btn-block">次のページへ</button></p>
								</div>
							</div>
						</form>
						<!-- <div class="mb20 text-left" style="padding: 10px; background: #e0f46e;">
							<h5 style="color:red;">メール不具合のお知らせ</h5>
							<p class="text-left">現在、弊社から一部のメールアカウントへの送信ができない不具合が発生しております。確認しているアカウントは「outlook.jp」「hotmail.com」です。お客様には大変ご迷惑をおかけしてしまい申し訳ございません。ほかのアカウントをお持ちの場合はそちらでご連絡頂けますと幸いです。もしくは、お電話でのご対応とさせていただきます。現在、復旧作業を行っております。恐れ入りますが今しばらくお待ち下さい。</p>
							<h5 style="color:red;">Gmail・icloudメールをご利用のお客様へ</h5>
							<p class="text-left">現在Gmail・icloudメールをご利用のお客様において、当店からのメールが一部正常に受信しないことがございます。お問合せ、またはご注文後に当店からのご返信が確認できない場合は、お手数をおかけしますが、「迷惑メールフォルダ」をご確認ください。メールが見つからない場合は、お電話でご連絡ください。</p>
							<br>
							<div class="row">
								<div class="col-sm-6">渋谷本店：　<a href="tel:0334763341" style="color: #337ab7; text-decoration: underline;">TEL：03-3476-3341</a></div>
								<div class="col-sm-6">銀座店　：　<a href="tel:0355680529" style="color: #337ab7; text-decoration: underline;">TEL：03-5568-0529</a></div>
								<div class="col-sm-6">池袋店　：　<a href="tel:0364160529" style="color: #337ab7; text-decoration: underline;">TEL：03-6416-0529</a></div>
								<div class="col-sm-6">横浜店　：　<a href="tel:0454410529" style="color: #337ab7; text-decoration: underline;">TEL：045-441-0529</a></div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


