{% set favorite = BaseInfo.option_favorite_product %}
<nav id="navi_list_box" class="local_nav {% if favorite == 1 %}favorite{% endif %} mb20">
	<ul id="navi_list">
		<li class="{% if mypageno|default('') == 'index' %}active{% endif %}"><a href="{{ url('mypage') }}">ご注文履歴</a></li>
		{% if favorite == 1 %}
		<li class="{% if mypageno|default('') == 'favorite' %}active{% endif %}"><a href="{{ url('mypage_favorite') }}">お気に入り一覧</a></li>
		{% endif %}
		<li class="{% if mypageno|default('') == 'change' %}active{% endif %}"><a href="{{ url('mypage_change') }}">会員情報編集</a></li>
		<li class="{% if mypageno|default('') == 'delivery' %}active{% endif %}"><a href="{{ url('mypage_delivery') }}">お届け先編集</a></li>
		<li class="{% if mypageno|default('') == 'withdraw' %}active{% endif %}"><a href="{{ url('mypage_withdraw') }}">退会手続き</a></li>
	</ul>
</nav>
