{#
Copyright(c) 2016 MDL Payment, Inc. All rights reserved.
#}
{% extends  'default_frame.twig' %}
{% block javascript %}
    <script type="text/javascript">

        function credit () {
            if($( "#config_payment_0" ).prop("checked") == true){
            	$("#credit").val("1");
                $("#config_payment_division_0").prop('disabled', false);
                $("#config_payment_division_1").prop('disabled', false);
                $("#config_payment_division_2").prop('disabled', false);
                $("#config_payment_division_3").prop('disabled', false);

                $("#config_security_code_0").prop('disabled', false);
                $("#config_security_code_1").prop('disabled', false);
                $("#config_credit_3d_0").prop('disabled', false);
                $("#config_credit_3d_1").prop('disabled', false);
                $("#config_stock_card_0").prop('disabled', false);
                $("#config_stock_card_1").prop('disabled', false);

                $("#config_token_pay_0").prop('disabled', false);
                $("#config_token_pay_1").prop('disabled', false);
                $("#config_token_env_0").prop('disabled', false);
                $("#config_token_env_1").prop('disabled', false);
                $("#config_token_key").prop('disabled', false);

    			$("#tokenPay").val($("input[name='config[token_pay]']:checked").val());
            } else if($( "#config_payment_0" ).prop("checked") == false){
            	$("#credit").val("0");
                $("#config_payment_division_0").prop('disabled', true);
                $("#config_payment_division_1").prop('disabled', true);
                $("#config_payment_division_2").prop('disabled', true);
                $("#config_payment_division_3").prop('disabled', true);

                $("#config_security_code_0").prop('disabled', true);
                $("#config_security_code_1").prop('disabled', true);
                $("#config_credit_3d_0").prop('disabled', true);
                $("#config_credit_3d_1").prop('disabled', true);
                $("#config_stock_card_0").prop('disabled', true);
                $("#config_stock_card_1").prop('disabled', true);

                $("#config_token_pay_0").prop('disabled', true);
                $("#config_token_pay_1").prop('disabled', true);
                $("#config_token_env_0").prop('disabled', true);
                $("#config_token_env_1").prop('disabled', true);
                $("#config_token_key").prop('disabled', true);
                $("#tokenPay").val(0);
            }
        }

        function convenienceStore () {
            if($( "#config_payment_1" ).prop("checked") == true){
            	$("#convenienceStore").val("1");
                $("#config_conveni_limit_date_num").prop('disabled', false);
            } else if($( "#config_payment_1" ).prop("checked") == false){
            	$("#convenienceStore").val("0");
                $("#config_conveni_limit_date_num").prop('disabled', true);
            }
        }

        function settlementATM () {
            if($( "#config_payment_2" ).prop("checked") == true){
            	$("#atm").val("1");
                $("#config_atm_limit_date").prop('disabled', false);
                $("#config_payment_detail").prop('disabled', false);
            } else if($( "#config_payment_2" ).prop("checked") == false){
            	$("#atm").val("0");
                $("#config_atm_limit_date").prop('disabled', true);
                $("#config_payment_detail").prop('disabled', true);
            }
        }

        function bankNet () {
            if($( "#config_payment_3" ).prop("checked") == true){
            	$("#bankNet").val("1");
                $("#config_asp_payment_term").prop('disabled', false);
                $("#config_claim_kanji").prop('disabled', false);
                $("#config_claim_kana").prop('disabled', false);
                $("#config_copy_right").prop('disabled', false);
                $("#config_free_memo").prop('disabled', false);
            } else if($( "#config_payment_3" ).prop("checked") == false){
            	$("#bankNet").val("0");
                $("#config_asp_payment_term").prop('disabled', true);
                $("#config_claim_kanji").prop('disabled', true);
                $("#config_claim_kana").prop('disabled', true);
                $("#config_copy_right").prop('disabled', true);
                $("#config_free_memo").prop('disabled', true);
            }
        }

        function mobileCarriers () {
            if($( "#config_payment_4" ).prop("checked") == true){
            	$("#mobileCarries").val("1");
                $("#config_career_division_0").prop('disabled', false);
                $("#config_career_division_1").prop('disabled', false);
                $("#config_career_division_2").prop('disabled', false);
            } else if($( "#config_payment_4" ).prop("checked") == false){
            	$("#mobileCarries").val("0");
                $("#config_career_division_0").prop('disabled', true);
                $("#config_career_division_1").prop('disabled', true);
                $("#config_career_division_2").prop('disabled', true);
            }
        }

        function virtualAccPayment () {
            if($("#config_payment_5").prop("checked") == true){
            	$("#virtualAcc").val("1");
                $("#config_numbering_type_0").prop('disabled', false);
                $("#config_numbering_type_1").prop('disabled', false);
                $("#config_virtual_account_limit_date").prop('disabled', false);
            } else if($("#config_payment_5").prop("checked") == false){
            	$("#virtualAcc").val("0");
                $("#config_numbering_type_0").prop('disabled', true);
                $("#config_numbering_type_1").prop('disabled', true);
                $("#config_virtual_account_limit_date").prop('disabled', true);
            }
        }

        function deferredPayment () {
            if($( "#config_payment_6" ).prop("checked") == true){
                $("#config_result_get_type_0").prop('disabled', false);
                $("#config_result_get_type_1").prop('disabled', false);
                $("#config_exam_result_notification_type_0").prop('disabled', false);
                $("#config_exam_result_notification_type_1").prop('disabled', false);
                $("#config_invoice_include_0").prop('disabled', false);
            } else if($( "#config_payment_6" ).prop("checked") == false){
                $("#config_result_get_type_0").prop('disabled', true);
                $("#config_result_get_type_1").prop('disabled', true);
                $("#config_exam_result_notification_type_0").prop('disabled', true);
                $("#config_exam_result_notification_type_1").prop('disabled', true);
                $("#config_invoice_include_0").prop('disabled', true);
            }
        }
        function win_open(URL){
            var WIN;
            WIN = window.open(URL);
            WIN.focus();
        }

        // 決済種別ごとに表示させる項目を切り替える
        function lfCheckSettlement(value){
            if(value == 1){
            	$("#connect_type").val("1");
                lfDispSwitch("config_connect_id", false, false);
                lfDispSwitch("config_connect_password", false, false);
                lfDispSwitch("config_payment_0", false, false);

                lfDispSwitch("config_link_url", true, false);
                lfDispSwitch("config_hash_key", true, false);


                lfDispSwitch("config_payment_division_0", false, true);
                lfDispSwitch("config_conveni_limit_date_num", false, true);
                lfDispSwitch("config_atm_limit_date", false, true);
                lfDispSwitch("config_asp_payment_term", false, true);
                lfDispSwitch("config_career_division_0", false, true);
                lfDispSwitch("config_emoney_division_0", false, true);
                lfDispSwitch("config_numbering_type_0", false, true);
                lfDispSwitch("config_result_get_type_0", false, true);
                lfDispSwitch("config_numbering_type_0", false, true);
                lfDispSwitch("config_link_payment_term", true, true);
            } else if(value == 2){
            	$("#connect_type").val("2");
                lfDispSwitch("config_connect_id", true, false);
                lfDispSwitch("config_connect_password", true, false);
                lfDispSwitch("config_payment_0", true, false);

                lfDispSwitch("config_link_url", false, false);
                lfDispSwitch("config_hash_key", false, false);


                lfDispSwitch("config_payment_division_0", true, true);
                lfDispSwitch("config_conveni_limit_date_num", true, true);
                lfDispSwitch("config_atm_limit_date", true, true);
                lfDispSwitch("config_asp_payment_term", true, true);
                lfDispSwitch("config_career_division_0", true, true);
                lfDispSwitch("config_emoney_division_0", true, true);
                lfDispSwitch("config_numbering_type_0", true, true);
                lfDispSwitch("config_result_get_type_0", true, true);
                lfDispSwitch("config_numbering_type_0", true, true);
                lfDispSwitch("config_link_payment_term", false, true);

            } else if(value == 3){
            	$("#connect_type").val("3");
                lfDispSwitch("config_connect_id", true, false);
                lfDispSwitch("config_connect_password", true, false);
                lfDispSwitch("config_payment_0", false, false);

                lfDispSwitch("config_link_url", true, false);
                lfDispSwitch("config_hash_key", true, false);


                lfDispSwitch("config_payment_division_0", false, true);
                lfDispSwitch("config_conveni_limit_date_num", false, true);
                lfDispSwitch("config_atm_limit_date", false, true);
                lfDispSwitch("config_asp_payment_term", false, true);
                lfDispSwitch("config_career_division_0", false, true);
                lfDispSwitch("config_emoney_division_0", false, true);
                lfDispSwitch("config_numbering_type_0", false, true);
                lfDispSwitch("config_result_get_type_0", false, true);
                lfDispSwitch("config_numbering_type_0", false, true);
                lfDispSwitch("config_link_payment_term", true, true);
            }
        }

        // URLの表示非表示切り替え
        function lfDispSwitch(id, disp_flg, box_body){
            if (box_body == true) {
                if (disp_flg == true) {
                    $("#"+id).parents(".box").css("display", "");
                } else {
                    $("#"+id).parents(".box").css("display", "none");
                }
            } else {
                if (disp_flg == true) {
                    $("#"+id).parents(".form-group").css("display", "");
                } else {
                    $("#"+id).parents(".form-group").css("display", "none");
                }
            }

        }

        function setDefaultValue() {
        	if($( "#config_payment_0" ).prop("checked") == false){
        		$("#config_security_code_1").prop('checked', true);
        		$("#config_credit_3d_1").prop('checked', true);
        		$("#config_stock_card_1").prop('checked', true);
        		$("#config_token_pay_1").prop('checked', true);
        		$("#config_token_env_0").prop('checked', true);
        		$("#config_token_key").val("");
            }
        	if($( "#config_payment_1" ).prop("checked") == false){
        		$("#config_conveni_limit_date_num").val("15");
        	}
			if($( "#config_payment_2" ).prop("checked") == false){
				$("#config_atm_limit_date").val("30");
			}
			if($( "#config_payment_3" ).prop("checked") == false){
				$("#config_asp_payment_term").val("7");
			}
			if($( "#config_payment_5" ).prop("checked") == false){
				$("#config_numbering_type_0").prop('checked', true);
				$("#config_virtual_account_limit_date").val("30");
			}
			if($( "#config_payment_6" ).prop("checked") == false){
				$("#config_result_get_type_0").prop('checked', true);
				$("#config_exam_result_notification_type_0").prop('checked', true);
			}
			if($("#config_token_pay_0").prop("checked") == true) {
				$("#tokenPay").val($("#config_token_pay_0").val());
			} else {
				$("#tokenPay").val($("#config_token_pay_1").val());
			}
        }
        $(function () {
            setDefaultValue();
            credit();
            convenienceStore();
            settlementATM();
            bankNet();
            mobileCarriers();
            virtualAccPayment();
            deferredPayment();
            if ($( "#config_settlement_division_1" ).prop("checked") == true){
                lfCheckSettlement(1);
            } else if ($( "#config_settlement_division_2" ).prop("checked") == true){
                lfCheckSettlement(3);
            } else {
                lfCheckSettlement(2);
            }

            $( "#config_payment_0" ).change(function() {
                credit();
            });
            $( "#config_payment_1" ).change(function() {
                convenienceStore();
            });
            $( "#config_payment_2" ).change(function() {
                settlementATM();
            });
            $( "#config_payment_3" ).change(function() {
                bankNet();
            });
            $( "#config_payment_4" ).change(function() {
                mobileCarriers();
            });

            $( "#config_payment_5" ).change(function() {
                virtualAccPayment();
            });

            $( "#config_payment_6" ).change(function() {
                deferredPayment();
            });

            $("#config_settlement_division_0").click(function() {
                lfCheckSettlement(2);
            });
            $("#config_settlement_division_1").click(function() {
                lfCheckSettlement(1);
            });
            $("#config_settlement_division_2").click(function() {
                lfCheckSettlement(3);
            });

            $("input[name='config[token_pay]']:radio").change(function () {
				$("#tokenPay").val($(this).val());
            });
        });

    </script>
{% endblock %}
{% block title %}{{ tpl_subtitle }}{% endblock %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% block main %}
<div class="row" id="aside_wrap">
    <form name="form1" role="form" novalidate class="form-horizontal" id="point_form" method="post" action="">
    {{ form_widget(form._token) }}
    <input type="hidden" id = "connect_type" name="connect_type" value="2"/>
    <input type="hidden" id = "credit" name="credit" />
    <input type="hidden" id = "convenienceStore" name="convenienceStore" />
    <input type="hidden" id = "atm" name="atm" />
    <input type="hidden" id = "bankNet" name="bankNet" />
    <input type="hidden" id = "mobileCarries" name="mobileCarries" />
    <input type="hidden" id = "virtualAcc" name="virtualAcc" />
    <input type="hidden" id = "tokenPay" name="tokenPay" />
        <div class="col-md-9">

            <div class="box">
                <div class="box-body">
                    <div>
                    ペイジェント決済プラグインをご利用頂く為には、 ユーザ様ご自身で株式会社ペイジェントとご契約頂く必要があります。 お申し込みにつきましては、下記のページよりお問い合せ下さい。
                    </div>
                    <div>
                        <a href="http://www.paygent.co.jp/service/" target="_blank">
                            ＞＞ ペイジェント決済代行サービスについて
                        </a>
                    </div>
                </div>
            </div>
            {% if errors['err'] is not empty %}
			<div class="box-body" style="border-top:none;">
                <div class="text-danger">
                	<p class="errormsg text-danger">{{ errors['err'] | raw }}</p>
    			</div>
            </div>
            {% endif %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">システム種別<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.settlement_division.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.settlement_division) }}
                            {{ form_errors(form.settlement_division) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">マーチャントID<span class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.merchant_id.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.merchant_id) }}
                            {{ form_errors(form.merchant_id) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">接続ID<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.connect_id.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.connect_id) }}
                            {{ form_errors(form.connect_id) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">接続パスワード<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.connect_password.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.connect_password) }}
                            {{ form_errors(form.connect_password) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">利用決済<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.payment.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.payment) }}
                            {{ form_errors(form.payment) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">リンクタイプリクエスト先URL<span
                                class="text-danger"> ※</span></label>
                        <div class="col-sm-10 {% if form.link_url.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.link_url) }}
                            {{ form_errors(form.link_url) }}
                            <p class='small'>※ペイジェントとの契約時に通知される決済用URLです。<br />[charset=UTF-8]のURLを入力してください。</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">ハッシュ値生成キー</label>
                        {% if errors['hash_key'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.hash_key) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['hash_key']|e }}</p>
                        		</ul>
   							</span>
                        </div>
						{% else %}
						  <div class="col-sm-10 {% if form.hash_key.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.hash_key) }}
                            {{ form_errors(form.hash_key) }}
                        </div>
						{% endif %}
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">クレジット決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払回数<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.payment_division.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.payment_division) }}
                            {{ form_errors(form.payment_division) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">セキュリティコード</label>

                        <div class="col-sm-10 {% if form.security_code.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.security_code) }}
                            {{ form_errors(form.security_code) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">3Dセキュア</label>

                        <div class="col-sm-10 {% if form.credit_3d.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.credit_3d) }}
                            {{ form_errors(form.credit_3d) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">カード情報お預かり機能</label>

                        <div class="col-sm-10 {% if form.stock_card.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.stock_card) }}
                            {{ form_errors(form.stock_card) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">トークン決済</label>
                        <div class="col-sm-10 {% if form.token_pay.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.token_pay) }}
                            {{ form_errors(form.token_pay) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">トークン接続先</label>
                        <div class="col-sm-10 {% if form.token_env.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.token_env) }}
                            {{ form_errors(form.token_env) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label required ">トークン生成鍵</label>
                        <div class="col-sm-10 {% if form.token_key.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.token_key) }}
                            {{ form_errors(form.token_key) }}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">コンビニ決済(番号方式)設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払期限日<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.conveni_limit_date_num.vars.errors is not empty %}has-error{% endif %}">
                                <span style="float: left;line-height: 42px;">購入日より</span>
                                <span style="float: left;">{{ form_widget(form.conveni_limit_date_num) }}</span>
                                <span style="float: left;line-height: 42px;">日</span>
                                <br/><br/>{{ form_errors(form.conveni_limit_date_num) }}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">ATM決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払期限日<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.atm_limit_date.vars.errors is not empty %}has-error{% endif %}">
                            <span style="float: left;line-height: 42px;">購入日より</span>
                            <span style="float: left;">{{ form_widget(form.atm_limit_date) }}</span>
                            <span style="float: left;line-height: 42px;">日</span>
                            <br/><br/>{{ form_errors(form.atm_limit_date) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">店舗名（カナ）<span
                                class="text-danger"> ※</span></label>
						{% if errors['payment_detail'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.payment_detail) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['payment_detail']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 入金時に画面表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.payment_detail.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.payment_detail) }}
                            {{ form_errors(form.payment_detail) }}
                            <p class='small'>※ 入金時に画面表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">銀行ネット決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払期限日<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.asp_payment_term.vars.errors is not empty %}has-error{% endif %}">
                            <span style="float: left;line-height: 42px;">購入日より</span>
                            <span style="float: left;">{{ form_widget(form.asp_payment_term) }}</span>
                            <span style="float: left;line-height: 42px;">日</span>
                            <br/><br/>{{ form_errors(form.asp_payment_term) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">店舗名（全角）<span
                                class="text-danger"> ※</span></label>
						{% if errors['claim_kanji'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.claim_kanji) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['claim_kanji']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.claim_kanji.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.claim_kanji) }}
                            {{ form_errors(form.claim_kanji) }}
                            <p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">店舗名（カナ）<span
                                class="text-danger"> ※</span></label>
						{% if errors['claim_kana'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.claim_kana) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['claim_kana']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.claim_kana.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.claim_kana) }}
                            {{ form_errors(form.claim_kana) }}
                            <p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">コピーライト(半角英数)</label>

                        <div class="col-sm-10 {% if form.copy_right.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.copy_right) }}
                            {{ form_errors(form.copy_right) }}
                            <p class='small'>※ 決済画面に表示されるコピーライト「Copyright (c) ・・・」等</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">自由メモ欄(全角)</label>
						{% if errors['free_memo'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.free_memo) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['free_memo']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 決済画面に表示されるメッセージ「ありがとうございます」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.free_memo.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.free_memo) }}
                            {{ form_errors(form.free_memo) }}
                            <p class='small'>※ 決済画面に表示されるメッセージ「ありがとうございます」等</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">携帯キャリア決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">利用決済<span
                                class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.career_division.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.career_division) }}
                            {{ form_errors(form.career_division) }}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

			<div class="box">
                <div class="box-header">
                    <h3 class="box-title">仮想口座決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                	<div class="form-group">
                        <label class="col-sm-2 control-label required">付番区分</label>

                        <div class="col-sm-10 {% if form.numbering_type.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.numbering_type) }}
                            {{ form_errors(form.numbering_type) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払期限日<span class="text-danger"> ※</span></label>

                        <div class="col-sm-10 {% if form.virtual_account_limit_date.vars.errors is not empty %}has-error{% endif %}">
                            <span style="float: left;line-height: 42px;">購入日より</span>
                            <span style="float: left;">{{ form_widget(form.virtual_account_limit_date) }}</span>
                            <span style="float: left;line-height: 42px;">日</span>
                            <br/><br/>{{ form_errors(form.virtual_account_limit_date) }}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">後払い決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">結果取得区分</label>

                        <div class="col-sm-10 {% if form.result_get_type.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.result_get_type) }}
                            {{ form_errors(form.result_get_type) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">審査結果通知メール</label>

                        <div class="col-sm-10 {% if form.exam_result_notification_type.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.exam_result_notification_type) }}
                            {{ form_errors(form.exam_result_notification_type) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">請求書の同梱</label>

                        <div class="col-sm-10 {% if form.invoice_include.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.invoice_include) }}
                            {{ form_errors(form.invoice_include) }}
                            <p class='small'>※ 購入者情報と配送先情報が同一の場合、「同梱」として登録します。</p>
                            <p class='small'>※ 同梱のご利用には株式会社JACCSによる審査が必要となります。</p>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">リンクタイプ決済設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">カード支払区分</label>

                        <div class="col-sm-10 {% if form.card_class.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.card_class) }}
                            {{ form_errors(form.card_class) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">カード確認番号</label>

                        <div class="col-sm-10 {% if form.card_conf.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.card_conf) }}
                            {{ form_errors(form.card_conf) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">支払期限日</label>

                        <div class="col-sm-10 {% if form.link_payment_term.vars.errors is not empty %}has-error{% endif %}">
                            <span style="float: left;line-height: 42px;">購入日より</span>
                            <span style="float: left;">{{ form_widget(form.link_payment_term) }}</span>
                            <span style="float: left;line-height: 42px;">日</span>
                            <br/><br/>{{ form_errors(form.link_payment_term) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">店舗名(全角)</label>
						{% if errors['merchant_name'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.merchant_name) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['merchant_name']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.merchant_name.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.merchant_name) }}
                            {{ form_errors(form.merchant_name) }}
                            <p class='small'>※ 決済画面に表示される店舗名「○○○オンラインショップ」等</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">コピーライト(半角英数)</label>

                        <div class="col-sm-10 {% if form.link_copy_right.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.link_copy_right) }}
                            {{ form_errors(form.link_copy_right) }}
                            <p class='small'>※ 決済画面に表示されるコピーライト「Copyright (c) ・・・」等</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">自由メモ欄(全角)</label>
						{% if errors['link_free_memo'] is not empty %}
						  <div class="col-sm-10 has-error">
                            {{ form_widget(form.link_free_memo) }}
                            <span class="help-block">
                            	<ul class="list-unstyled">
	                                <p class="errormsg text-danger">{{ errors['link_free_memo']|e }}</p>
                        		</ul>
   							</span>
   							<p class='small'>※ 決済画面に表示されるメッセージ「ありがとうございます」等</p>
                        </div>
						{% else %}
                        <div class="col-sm-10 {% if form.link_free_memo.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_widget(form.link_free_memo) }}
                            {{ form_errors(form.link_free_memo) }}
                            <p class='small'>※ 決済画面に表示されるメッセージ「ありがとうございます」等</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-3" id="aside_column">
            <div class="col_inner">
                <div class="box no-header">
                    <div class="box-body">
                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" type="submit">
                                    この内容で登録する
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.col -->
    </form>
</div>
{% endblock %}
