{#
Copyright(c) 2016 MDL Paygent, Inc. All rights reserved.
http://www.paygent.co.jp/
#}
{% extends  'default_frame.twig' %}

{% block javascript %}
	<script>
	$( "form" ).submit(function( event ) {
        $(".btn").attr("disabled",true);
  	});

	</script>

    <style type="text/css">
        .gmo-payment-inner table{
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
        .gmo-payment-inner .text-center{
            text-align: center;
        }
        .gmo-payment-inner .text-right{
            text-align: right;
        }
        .gmo-payment-inner .dl_table dd {
            padding: 8px;
        }
        @media only screen and (min-width: 768px){
            .gmo-payment-inner .dl_table dd {
                padding: 8px;
            }
        }
    </style>
{% endblock %}

{% block main %}
    <div id="main_middle">
        <div class="container-fluid gmo-container">
            <h2 class="title">ペイジェント ATM決済</h2>
            <div class="gmo-payment-inner">
                <form name="form1" id="form1" method="post">
                {{ form_widget(formATMSettlement._token) }}
                	{% if error is not empty %}
                	<div style = "color: red; float: left;">
                    	<p>{{ error }}</p>
                	</div>
            		{% endif %}

                    <div class="dl_table" id="payment_form_body">
                        <dl>
                            <dt>利用者</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    <div style="float:left">
                                        {{ form_widget(formATMSettlement.customer_family_name) }}  &nbsp;
                                        {{ form_errors(formATMSettlement.customer_family_name) }}
                                    </div>
                                    <div>
                                        {{ form_widget(formATMSettlement.customer_name) }}
                                        {{ form_errors(formATMSettlement.customer_name) }}
                                    </div>
                                </div>

                            </dd>
                        </dl>
						<dl>
                            <dt>利用者(カナ)</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    <div style="float:left">
                                        {{ form_widget(formATMSettlement.customer_family_name_kana) }}  &nbsp;
                                        {{ form_errors(formATMSettlement.customer_family_name_kana) }}
                                    </div>
                                    <div>
                                        {{ form_widget(formATMSettlement.customer_name_kana) }}
                                        {{ form_errors(formATMSettlement.customer_name_kana) }}
                                    </div>
                                </div>
								<div>
                                    <p class="mini">※カナに濁点（゛）や半濁点（゜）がある場合、該当記号のみ除外されます。予めご了承ください。</p>
                                </div>
                            </dd>
                        </dl>
                    </div>
					<div style="margin-top:10px">
                        ゆうちょ銀行など「ペイジー」マークのあるATMで支払番号を入力してお支払いいただけます。 <br>
						なお、商品はお支払い後のご提供となります。

						<hr style="background:#D3D3D3; border:0; height:2px">
                        以上の内容で間違いなければ、下記「次へ」ボタンをクリックしてください。<br>
						<span style="color:red"> ※画面が切り替るまで少々時間がかかる場合がございますが、そのままお待ちください。 </span>
						<hr style="background:#D3D3D3; border:0; height:1px">
					</div>

                 <div class="row no-padding" style="margin-top:10px">
                        <div class="col-sm-offset-2 col-sm-4">
                            <p><a href="{{path('mdl_shopping_payment_back')}}" class="btn btn btn-info btn-block ">戻る</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p><button type="submit" class="btn btn-primary btn-block">次へ</button></p>
                        </div>
                    </div>
                </form>
            </div>
		</div>
    </div>
{% endblock %}
