{#
Copyright(c) 2016 MDL Paygent, Inc. All rights reserved.
http://www.paygent.co.jp/
#}
{% extends  'default_frame.twig' %}
{% block javascript %}
<script>
	$("form").submit(function( event ) {
            $(".btn").attr("disabled",true);
    });
</script>
    <style type="text/css">
        .mdl-payment-inner table{
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
        .mdl-payment-inner .text-center{
            text-align: center;
        }
        .mdl-payment-inner .text-right{
            text-align: right;
        }
        .mdl-payment-inner .dl_table dd {
            padding: 8px;
        }
        @media only screen and (min-width: 768px){
            .mdl-payment-inner .dl_table dd {
                padding: 8px;
            }
        }

		a:hover, a:active {
			text-decoration: underline;
			color: #FF8C00;
		}
    </style>
{% endblock %}
{% block main %}
    <div id="main_middle">
        <div class="container-fluid gmo-container">
            <h2 class="title">ペイジェント 銀行ネット</h2>
            <div class="mdl-payment-inner">
                <form name="form1" role="form" novalidate class="form-horizontal" id="point_form" method="post" action="">
                {{ form_widget(formBanknet._token) }}
					{% if error is not empty %}
                	<div style = "color: red; float: left;">
                    	<p>{{ error | raw }}</p>
                	</div>
            		{% endif %}

                    <div class="dl_table" id="payment_form_body">
                        <dl>
                            <dt>利用者</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    <div style="float:left">
                                        {{ form_widget(formBanknet.customer_family_name) }}&nbsp;
                                        {{ form_errors(formBanknet.customer_family_name) }}
                                    </div>
                                    <div>
                                        {{ form_widget(formBanknet.customer_name) }}
                                        {{ form_errors(formBanknet.customer_name) }}
                                    </div>
                                </div>

                            </dd>
                        </dl>
						<dl>
                            <dt>利用者(カナ)</dt>
                            <dd>
                                <div class="form-group form-inline">
                                    <div style="float:left">
                                        {{ form_widget(formBanknet.customer_family_name_kana) }}&nbsp;
                                        {{ form_errors(formBanknet.customer_family_name_kana) }}
                                    </div>
                                    <div>
                                        {{ form_widget(formBanknet.customer_name_kana) }}
                                        {{ form_errors(formBanknet.customer_name_kana) }}
                                    </div>
                                </div>
								<div>
                                    <p class="mini">※カナに濁点（゛）や半濁点（゜）がある場合、該当記号のみ除外されます。予めご了承ください。</p>
                                </div>
                            </dd>
                        </dl>
                    </div>
					<div style="margin-top:10px">
                        三菱東京UFJ銀行などメガバンク、JNB、楽天銀行、ゆうちょ銀行など全国1,400行以上のネットバンキングでお支払いが可能です。 <br>
						なお、商品はお支払い後のご提供となります。
						<hr style="background:#D3D3D3; border:0; height:2px">
					</div>
					<div style="margin-top:20px">
                        <a target="_blank" href="http://www.paygent.co.jp/merchant_info/help/shophelp_netbank.html">『お支払方法の説明』</a>を事前にご確認ください。<br>
						以上の内容で間違いなければ、下記「次へ」ボタンをクリックしてください。<br>
						<span style="color:red">※決済用サイトに遷移します。ドメインが変わりますが、そのままお手続きを進めてください。</span><br>
						<span style="color:red">※画面が切り替るまで少々時間がかかる場合がございますが、そのままお待ちください。 </span>
						<hr style="background:#D3D3D3; border:0; height:1px">
					</div>
                 <div class="row no-padding" style="margin-top:10px">
                        <div class="col-sm-offset-2 col-sm-4">
                            <p><a href="{{ path('mdl_shopping_payment_back') }}" class="btn btn-info btn-block">戻る</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p><button type="submit" class="btn btn-primary btn-block">次へ</button></p>
                        </div>
                    </div>
                </form>
            </div>
	</div>
</div>
{% endblock %}
