<div class="banner visible-xs">
    <div class="row">
        <ul class="list-unstyled">
			<li class="col-sm-12 col-xs-6"><a href="/user_data/photo_plan"><img src="{{ app.config.front_urlpath }}/img/side/location_plan_sidebar.jpg" class="img-responsive" alt="卒業袴レンタル記念撮影"></a></li>
			<li class="col-sm-12 col-xs-6"><a href="/user_data/location_photo">
           	<img src="{{ app.config.front_urlpath }}/img/side/location_sidebar.jpg" class="img-responsive" alt="ロケーションフォト 着物 出張撮影"></a></li>
            <!--<li class="col-sm-12 col-xs-6"><a href="https://e-olive.com" target="_blank"><img src="{{ app.config.front_urlpath }}/img/side/banner_aki.svg" class="img-responsive" alt="リサイクル着物おりいぶ"></a></li>-->
            <!--団体様・スタッフ応募等-->
            <li class="col-sm-12 col-xs-6"><a href="/user_data/for_organization"><img src="{{ app.config.front_urlpath }}/img/side/bar003.jpg" class="img-responsive" alt="法人・団体のお客様へ　特別プラン"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/info_hairmake"><img src="{{ app.config.front_urlpath }}/img/side/bnr_staff.jpg" class="img-responsive" alt="ヘアセット　メイクアップスタッフ募集"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/big"><img src="{{ app.config.front_urlpath }}/img/side/bar004.jpg" class="img-responsive" alt="大きいサイズの着物　豊富にご用意しております"></a></li>
            <!--Q&A-->
            <li class="col-sm-12 col-xs-6"><a href="/wpaki" target="_blank"><img src="{{ app.config.front_urlpath }}/img/side/bnr_blog.jpg" class="img-responsive" alt="着物あきブログ"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/tpo"><img src="{{ app.config.front_urlpath }}/img/side/tpo_top.jpg" class="img-responsive" alt="着物TPO"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/wpaki/question"><img src="{{ app.config.front_urlpath }}/img/side/bar001.jpg" class="img-responsive" alt="教えてあべ先生　着物について何でもご相談ください。"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/wpaki/?p=448"><img src="{{ app.config.front_urlpath }}/img/side/blogbar150408.jpg" class="img-responsive" alt="昭和の着物語り　着物にまつわる様々なお話ををご紹介いたします。"></a></li>

            <!--<li class="col-sm-12 col-xs-6"><a href="/user_data/good_point#good03"><img src="{{ app.config.front_urlpath }}/img/side/bar002.jpg" class="img-responsive" alt="来店着付けのご案内　着付け無料フルセット"></a></li>-->
            <!--言語別-->
            <li class="col-sm-12 col-xs-6"><a href="/user_data/english"><img src="{{ app.config.front_urlpath }}/img/side/englishbar.png" class="img-responsive" alt="for English page welcome to aki kimono Rental"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/china"><img src="{{ app.config.front_urlpath }}/img/side/chinabar.png" class="img-responsive" alt="for Chinese page welcome to aki kimono Rental 中国語サイトへ"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/753"><img src="{{ app.config.front_urlpath }}/img/side/lp_shitigosan.jpg" class="img-responsive" alt="七五三レンタル"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/seijin"><img src="{{ app.config.front_urlpath }}/img/side/lp_seijin.jpg" class="img-responsive" alt="成人式 振袖 袴 レンタル"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/hakama"><img src="{{ app.config.front_urlpath }}/img/side/lp_sotugyou.jpg" class="img-responsive" alt="卒業式 卒業袴 レンタル"></a></li>
        </ul>
    </div>
</div>