<div class="hidden-xs">	
					<section class="block" id="choose_kinds">
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="">
									<h2 class="title">着物<span>の</span>種類<span>から</span>選ぶ</h2>
									<p>着物の種類がお決まりのお客様は、<br class="visible-xs"/>以下の種類をお選びください。</p>
								</div>
							</div>
						</div>
					</section>
					<section class="search_block">
						<div class="row col-5">
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/furisode.jpg" alt="振袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖テキストpc'});">振袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/houmonghi.jpg" alt="訪問着" class="img-responsive"></a></dt>
								<dd><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着テキストpc'});">訪問着</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣り画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/hitigosan.jpg" alt="七五三着物・十三詣り" class="img-responsive"></a></dt>
								<dd><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣りテキストpc'});">七五三着物・十三詣り</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/sotyugyouhakama.jpg" alt="卒業袴" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴テキストpc'});">卒業袴<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=52" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/tomesode.jpg" alt="黒留袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=52" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖テキストpc'});">黒留袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=51" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色留袖画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/irotomesode.jpg" alt="色留袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=51" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色留袖テキストpc'});">色留袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_男物pc'});"><img src="{{ app.config.front_urlpath }}/img/top/otokomono.jpg" alt="男物" class="img-responsive"></a></dt>
								<dd><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖テキストpc'});">男物<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/konnreishou.jpg" alt="婚礼衣装" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装テキストpc'});">婚礼衣装</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/iromuzi.jpg" alt="色無地" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地テキストpc'});">色無地<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_紬（つむぎ）画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/tumugi.jpg" alt="紬（つむぎ）" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_紬（つむぎ）テキストpc'});">紬（つむぎ）</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_小紋画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/komon.jpg" alt="小紋" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ 小紋テキストpc'});">小紋</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/ubugi.jpg" alt="産着" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着テキストpc'});">産着</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/hitoenatu.jpg" alt="ひとえ・夏着物" class="img-responsive"></a></dt>
								<dd><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物テキストpc'});">ひとえ・夏着物</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/puroduct001.jpg" alt="浴衣" class="img-responsive"></a> </dt>
								<dd><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣テキストpc'});">浴衣</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/mofuku.jpg" alt="喪服" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服テキストpc'});">喪服</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズ画像pc'});"><img src="{{ app.config.front_urlpath }}/img/top/bigsize.jpg" alt="大きいサイズ" class="img-responsive"></a></dt>
								<dd><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズテキストpc'});">大きいサイズ</a></dd>
                            </dl>
                            <!--
                            <dl class="col-md-3 col-sm-4 col-xs-4 text-center">
                                <dt><a href="/products/list?category_id=221"><img src="{{ app.config.front_urlpath }}/img/top/junior.jpg" alt="ジュニア着物" class="img-responsive"></a></dt>
                                <dd><a href="/products/list?category_id=221">ジュニア着物</a></dd>
                            </dl>
                            -->
						</div>
					</section>
				</div>