				<div class="sp-tab-area visible-xs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#kinds" data-toggle="tab" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ&ご利用のシーン、立場から選ぶタブ','event_label': '着物の種類から選ぶ'});">着物の種類から選ぶ</a></li>
						<li><a href="#scene" data-toggle="tab" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ&ご利用のシーン、立場から選ぶタブ','event_label': 'ご利用シーン・立場から選ぶ'});">ご利用シーン・立場から選ぶ</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="kinds">
							<section id="choose_kinds">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="">
											<h2 class="title">着物<span>の</span>種類<span>から</span>選ぶ</h2>
											<p>着物の種類がお決まりのお客様は、<br class="visible-xs"/>以下の種類をお選びください。</p>
										</div>
									</div>
								</div>
							</section>
							<section class="search_block">
								<div class="row col-5">
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/furisode.jpg" alt="振袖" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖テキストsp'});">振袖</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/houmonghi.jpg" alt="訪問着" class="img-responsive"></a></dt>
										<dd><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着テキストsp'});">訪問着</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣り画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/hitigosan.jpg" alt="七五三着物・十三詣り" class="img-responsive"></a></dt>
										<dd><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣りテキストsp'});">七五三着物・十三詣り</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/sotyugyouhakama.jpg" alt="卒業袴" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴テキストsp'});">卒業袴<br></a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=52" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/tomesode.jpg" alt="黒留袖" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=52">黒留袖</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=51" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色留袖テキストsp'});"><img src="{{ app.config.front_urlpath }}/img/top/irotomesode.jpg" alt="色留袖" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=51">色留袖</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_男物画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/otokomono.jpg" alt="男物" class="img-responsive"></a></dt>
										<dd><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴テキストsp'});">男物<br></a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/konnreishou.jpg" alt="婚礼衣装" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装テキストsp'});">婚礼衣装</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/iromuzi.jpg" alt="色無地" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地テキストsp'});">色無地<br></a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_つむぎ画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/tumugi.jpg" alt="つむぎ" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_つむぎテキストsp'});">つむぎ</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_小紋画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/komon.jpg" alt="小紋" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_小紋テキストsp'});">小紋</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/ubugi.jpg" alt="産着" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着テキストsp'});">産着</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/hitoenatu.jpg" alt="ひとえ・夏着物" class="img-responsive"></a></dt>
										<dd><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物テキストsp'});">ひとえ・夏着物</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/puroduct001.jpg" alt="浴衣" class="img-responsive"></a> </dt>
										<dd><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣テキストsp'});">浴衣</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/mofuku.jpg" alt="喪服" class="img-responsive"></a></dt>
										<dd><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服テキストsp'});">喪服</a></dd>
									</dl>
									<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
										<dt><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズ画像sp'});"><img src="{{ app.config.front_urlpath }}/img/top/bigsize.jpg" alt="大きいサイズ" class="img-responsive"></a></dt>
										<dd><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズテキストsp'});">大きいサイズ</a></dd>
		                            </dl>
		                            <!--
		                            <dl class="col-md-3 col-sm-4 col-xs-4 text-center">
		                                <dt><a href="/products/list?category_id=221"><img src="{{ app.config.front_urlpath }}/img/top/junior.jpg" alt="ジュニア着物" class="img-responsive"></a></dt>
		                                <dd><a href="/products/list?category_id=221">ジュニア着物</a></dd>
		                            </dl>
		                            -->
								</div>
							</section>
						</div>

						<div class="tab-pane" id="scene">
							<div class="row" id="choose_scene">
								<div class="col-sm-12">
									<section>
										<div class="row">
											<div class="col-sm-12 text-center">
												<div class="">
													<h2 class="title">ご利用<span>の</span>シーン<span>から</span>選ぶ</h2>
													<p>ご利用のシーンをお選びください。</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch01.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/adult" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_成人式sp'});">
														<h2 class="top_recommend_title_jpn">成人式</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch02.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/graduation_entrance" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_卒業式・入学式sp'});">
														<h2 class="top_recommend_title_jpn">卒業式・入学式</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch03.jpg)">
													<!--<span class="top_recommend_titl12e_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/wedding" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_結婚式sp'});">
														<h2 class="top_recommend_title_jpn">結婚式</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch04.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/party" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_パーティー・お茶会sp'});">
														<h2 class="top_recommend_title_jpn">パーティー・お茶会</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch05.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/theater_dinner" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_観劇・お食事会sp'});">
														<h2 class="top_recommend_title_jpn">観劇・お食事会</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch06.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_七五三・お宮参り・十三参りsp'});">
														<h2 class="top_recommend_title_jpn" style="letter-spacing: -0.5px;">七五三・お宮参り・十三参り</h2>
													</a>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch07.jpg)">
													<!--<span class="top_recommend_title_overlay"></span>-->
													<a class="top_recommend_title_inner" href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_花火・お祭りsp'});">
														<h2 class="top_recommend_title_jpn">花火・お祭り</h2>
													</a>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>

				</div>
