					<section class="block" id="choose_kinds">
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="">
									<h2 class="title">着物<span>の</span>種類<span>から</span>選ぶ</h2>
									<p>着物の種類がお決まりのお客様は、<br class="visible-xs"/>以下の種類をお選びください。</p>
								</div>
							</div>
						</div>
					</section>
					<section class="search_block">
						<div class="row col-5">
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖'});"><img src="{{ app.config.front_urlpath }}/img/top/furisode.jpg" alt="振袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=53" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_振袖'});">振袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着'});"><img src="{{ app.config.front_urlpath }}/img/top/houmonghi.jpg" alt="訪問着" class="img-responsive"></a></dt>
								<dd><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_訪問着'});">訪問着</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣り'});"><img src="{{ app.config.front_urlpath }}/img/top/hitigosan.jpg" alt="七五三着物・十三詣り" class="img-responsive"></a></dt>
								<dd><a href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_七五三着物・十三詣り'});">七五三着物・十三詣り</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴'});"><img src="{{ app.config.front_urlpath }}/img/top/sotyugyouhakama.jpg" alt="卒業袴" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=40" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_卒業袴'});">卒業袴<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=52" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖'});"><img src="{{ app.config.front_urlpath }}/img/top/tomesode.jpg" alt="黒留袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=52" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_黒留袖'});">黒留袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=51" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色留袖'});"><img src="{{ app.config.front_urlpath }}/img/top/irotomesode.jpg" alt="色留袖" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=51" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色留袖'});">色留袖</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_男物'});"><img src="{{ app.config.front_urlpath }}/img/top/otokomono.jpg" alt="男物" class="img-responsive"></a></dt>
								<dd><a href="/user_data/mens" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_男物'});">男物<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装'});"><img src="{{ app.config.front_urlpath }}/img/top/konnreishou.jpg" alt="婚礼衣装" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=34" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_婚礼衣装'});">婚礼衣装</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地'});"><img src="{{ app.config.front_urlpath }}/img/top/iromuzi.jpg" alt="色無地" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=49" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_色無地'});">色無地<br></a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_つむぎ'});"><img src="{{ app.config.front_urlpath }}/img/top/tumugi.jpg" alt="つむぎ" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=47" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_つむぎ'});">つむぎ</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_小紋'});"><img src="{{ app.config.front_urlpath }}/img/top/komon.jpg" alt="小紋" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=48" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_小紋'});">小紋</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着'});"><img src="{{ app.config.front_urlpath }}/img/top/ubugi.jpg" alt="産着" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=38" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_産着'});">産着</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物'});"><img src="{{ app.config.front_urlpath }}/img/top/hitoenatu.jpg" alt="ひとえ・夏着物" class="img-responsive"></a></dt>
								<dd><a href="/user_data/hitoenatu" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_ひとえ・夏着物'});">ひとえ・夏着物</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣'});"><img src="{{ app.config.front_urlpath }}/img/top/puroduct001.jpg" alt="浴衣" class="img-responsive"></a> </dt>
								<dd><a href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_浴衣'});">浴衣</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服'});"><img src="{{ app.config.front_urlpath }}/img/top/mofuku.jpg" alt="喪服" class="img-responsive"></a></dt>
								<dd><a href="/products/list?category_id=157" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_喪服'});">喪服</a></dd>
							</dl>
							<dl class="col-md-3 col-sm-4 col-xs-4 text-center">
								<dt><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズ'});"><img src="{{ app.config.front_urlpath }}/img/top/bigsize.jpg" alt="大きいサイズ" class="img-responsive"></a></dt>
								<dd><a href="/user_data/big" onclick="gtag('event', 'クリック', {'event_category': '着物の種類から選ぶ','event_label': '着物の種類から選ぶ_大きいサイズ'});">大きいサイズ</a></dd>
                            </dl>
                            <!--
                            <dl class="col-md-3 col-sm-4 col-xs-4 text-center">
                                <dt><a href="/products/list?category_id=221"><img src="{{ app.config.front_urlpath }}/img/top/junior.jpg" alt="ジュニア着物" class="img-responsive"></a></dt>
                                <dd><a href="/products/list?category_id=221">ジュニア着物</a></dd>
                            </dl>
                            -->
						</div>
					</section>