                    <section class="block">
                        <div class="row pb00">
                            <div class="col-sm-12">
                                <div class="row pb00">
                                    <div class="col-sm-8">
                                        <h2 class="title">首都圏<span>に</span>直営店<span>があります。</span></h2>
                                    </div>
                                    <div class="col-sm-4 hidden-xs">
                                        <div class="mt10 text-right">
                                            <ul class="list-inline">
                                                <li><span class="label label-default">渋谷</span></li>
                                                <li><span class="label label-default">銀座</span></li>
                                                <li><span class="label label-default">池袋</span></li>
                                                <li><span class="label label-default">横浜</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb00">
                                    <div class="col-sm-9">
                                        <p>
                                            着物レンタルあきは、渋谷本店をはじめ、銀座、池袋、横浜に直営店を展開しています。
                                            実際に着物を手に取って選んでいただいたり、ご試着していただけます。
                                            ベテランスタッフによるお客様に合ったコーディネートをアドバイスさせていただいておりますので着物についてわからないことがあっても安心してご利用いただけます。
                                            またお客様のご要望に応じて、着付けやヘアーメイクのサービス、写真撮影などのサービスもご提供しておりますので、どうぞお気軽にお出かけください。
                                        </p>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">
                                        <img src="{{ app.config.front_urlpath }}/img/top/shop_img.jpg" alt="着物レンタルあきは首都圏に直営店があります。" class="img-responsive">
                                    </div>
                                </div>
                                <div class="row pb00" id="sec-store">
                                    <div class="col-sm-12">
                                        <h3 class="title">店舗情報</h3>
                                        <p>定休日など詳細情報は各支店情報をご覧ください。</p>
                                    </div>
                                    <a href="/user_data/shop/shibuya">
                                        <div class="col-sm-6">
                                            <img src="{{ app.config.front_urlpath }}/img/common/store_shibuya.jpg" alt="着物レンタルあき 渋谷本店" class="img-responsive">
                                            <h4>渋谷本店<span class="pull-right" style="font-size:75%;">→渋谷本店の詳細はこちら</small></h4>
                                            <ul class="">
                                                <li>東京都渋谷区円山町15-14</li>
                                                <li>エルアルカサル</li>
                                                <li>TEL.03-3476-3341</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <a href="/user_data/shop/ginza">
                                        <div class="col-sm-6">
                                            <img src="{{ app.config.front_urlpath }}/img/common/store_ginza.jpg" alt="着物レンタルあき 銀座店" class="img-responsive">
                                            <h4>銀座店<span class="pull-right" style="font-size:75%;">→銀座店の詳細はこちら</small></h4>
                                            <ul class="">
                                                <li>東京都中央区銀座8-3-10</li>
                                                <li>トミタビル3F</li>
                                                <li>TEL.03-5568-0529</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <a href="/user_data/shop/ikebukuro">
                                        <div class="col-sm-6">
                                            <img src="{{ app.config.front_urlpath }}/img/common/store_ikebukuro.jpg" alt="着物レンタルあき 池袋店" class="img-responsive">
                                            <h4>池袋店<span class="pull-right" style="font-size:75%;">→池袋店の詳細はこちら</small></h4>
                                            <ul class="">
                                                <li>東京都豊島区南池袋3-16-8</li>
                                                <li>近代ビル6 2F</li>
                                                <li>TEL.03-6416-0529</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <a href="/user_data/shop/yokohama">
                                        <div class="col-sm-6">
                                            <img src="{{ app.config.front_urlpath }}/img/common/store_yokohama.jpg" alt="着物レンタルあき 横浜店" class="img-responsive">
                                            <h4>横浜店<span class="pull-right" style="font-size:75%;">→横浜店の詳細はこちら</small></h4>
                                            <ul class="">
                                                <li>神奈川県横浜市西区高島2-14-11</li>
                                                <li>第二田浦ビル5F</li>
                                                <li>TEL.045-441-0529</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
